table{
    width: 800px;
    margin: 0 auto;
}

.wrap{
    width: 300px;
    margin: 60px auto;
}
h3{
    margin: 10px 0;
    font-size: 1.5rem;
}
li,.buttonClass{
    margin: 10px 0;
}

//個別顏色的class名稱 
.Blue{                   
    font-size: 20px;
    color: #0072E3;
}
.Green{
    font-size: 20px;
    color: #73BF00;
}
.Yellow{
    font-size: 20px;
    color: #D9B300;
}
.Orange{
    font-size: 20px;
    color: #FFBB77;
}
.RedOrange{
    font-size: 20px;
    color: #FF8000;
}
.Red{
    font-size: 20px;
    color: #FF0000;
}